 * {
     margin: 0;
     padding: 0;
 }

 .header-container {
     background-image: url(styels/images/banner/banner3.png);
     background-repeat: no-repeat;
     background-size: cover;

 }

 .header-section {

     text-align: right;
     margin-right: 15%;
 }

 .header-text {
     padding-top: 30%;
     padding-bottom: 30%;
 }

 .header-title {
     margin-left: 70%;
     padding-bottom: 10px;
     font-weight: 700;
     font-size: 40px;
 }

 .header-des {
     font-size: 14px;
     font-weight: 400;
     color: black;
     padding-bottom: 20px;
 }

 .header-btn {
     padding: 10px;
     border-radius: 5px;
     font-size: 18px;
     font-weight: bold;
     color: deeppink;
     border-color: blue;
 }

 /* image and text styles */
 .my-failure-section {
     margin-top: 15%;
 }

 .my-failure {
     display: flex;
 }

 .failure-text {
     padding-top: 20%;
     padding-left: 10%;
 }

 .failure-title {
     padding-bottom: 20px;
     padding-right: 50%;
     font-size: 30px;
     font-weight: 800;

 }

 .failure-des {
     padding-bottom: 20px;
     padding-right: 20%;
     font-size: 14px;
     font-weight: 400;
 }

 .text-list {
     list-style-type: none;
     padding-left: 30px;

 }

 .text-list li {
     list-style-type: lower-alpha;
 }

 /* my plan styles */
 .my-plan {
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     padding-top: 20%;
 }

 .plan-item {
     display: flex;
     gap: 35px;
     padding-left: 25%;
     padding-top: 30px;
 }

 .plan-box {
     text-align: center;

 }

 .sub-title {
     color: darkgray;
     font-weight: bold;
     padding-top: 5px;
 }

 /* awlays keep styles */

 .awlays-section {
     margin: 0 15%;

 }

 .awlays-text {

     margin-top: 15%;
     padding-left: 30px;
     padding-bottom: 40px;

     background-repeat: no-repeat;
     background-position: center;
     border-radius: 5px;
     background-image: linear-gradient(to left, rgba(200, 0, 1, 0), rgb(36, 111, 173)), url(styels/images/watch.png);
 }


 .awlays-title {
     padding-top: 40px;
     padding-bottom: 20px;
     font-size: 40px;
     margin-right: 40%;
 }

 .awlays-btn {
     padding: 10px 20px;
     border-radius: 5px;
     font-weight: bold;
 }

 /* footer section styles */
 .footer-section {
     background-color: black;
 }

 .footer-item {
     display: flex;
     margin: 10% 15% 0%;
 }

 .left-text {
     margin-right: 30%;
     padding: 20% 0;
 }

 .left-text-title {
     padding-bottom: 10px;
     font-size: 40px;
     font-weight: 800;
     color: white;
 }

 .left-text-des {
     font-weight: bold;
     color: white;
 }

 .right-text {
     padding-top: 20%;
 }

 .right-text-title {
     font-size: 25px;
     padding-bottom: 10px;
     color: white;
 }

 .right-text-email {
     padding: 5px 10px;

 }

 .footer-btn {
     font-size: 20px;
     margin-top: 10px;
     padding: 5px 10px;
     background-color: cornflowerblue;
     border-radius: 5px;
     color: white;
 }

 .fa-brands {
     background-color: white;
     margin-top: 10px;
 }